# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# temp folder
temp/
__pycache__

#ide
.vscode

# demo project folders
project/flowers-recognition/data
project/flowers-recognition/temp
*.h5
