# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# temp folder
temp/
__pycache__

#ide
.vscode

# demo project folders
project/flowers-recognition/data/daisy
project/flowers-recognition/data/rose
project/flowers-recognition/data/dandelion
project/flowers-recognition/data/sunflower
project/flowers-recognition/data/tulip
*.h5
yolo_v3/coco.names
yolo_v3/yolov3.cfg
yolo_v3/yolov3.weights
